{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<h1>Create case below:</h1>
<p>When you create a case, you are not necessary to add all doctor info below "Doctor name"(Doctor name is needed).</p>
<p>You can complete the rest info after determining which doctor will take your case.</p>

<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>

<a href="{{ url_for('managecase.managecase') }}">Back</a>

{% endblock %}