{% extends "layout.html" %}

{% block content %}


{% if group.cases.first() is none %}
    <a href="{{ url_for('managecase.addcase') }}">Create a new case</a>

{% else %}
    <h1>Manage cases of {{ session['eldername']|title }}s' group below:</h1>
    <hr>
    
    <a href="{{ url_for('managecase.addcase') }}">Create a new case</a>
    <hr>

    {% for case in group.cases %}
        <p><b>Case Name: {{ case.casename }}</b></p>
        <p>Chronic Condition Tags:
            {% for condition in case.conditions %}
                {{ condition.conditiontext }} |
            {% endfor %}
        </p>
        <p>Doctor Name: {{ case.doctors.first().doctorname }}</p>
        <p>Start at: {{ case.startday }}</p>
        <p>End at: {{ case.endday if case.endday != none else "Still in process" }}</p>
        <p><a href="{{ url_for('managecase.showcase', caseid=case.caseid) }}">  Explore details  </a></p>
        
        {% if case.endtag == False %}
            <p><a href="{{ url_for('managecase.endcase', caseid=case.caseid) }}">  End this case  </a></p>
        {% else %}
            <p><b>This case has been closed</b></p>
        {% endif %}
        <hr>
    {% endfor %}
        
{% endif %}

{% endblock %}