{% extends "layout.html" %}

{% block content %}

<!-- group admin (the cared) info -->
<p>Current group: <b>{{group.groupname}}</b></p>
<p>This group is for the service of: </p>
<img src="{{ cared.avatar(64)}}" />
<p>{{group.admin|title}}</p>
<hr>

{% if group.cases.first() is none %}
    <a href="{{ url_for('managecase.addcase') }}">Create a new case</a>

{% else %}
    <h1>Manage cases of this group below:</h1>

    <p>When you create a case, you are not necessary to add all doctor info(only doctor name is needed).</p>
    <p>You can complete the rest info after determining which doctor will take your case</p>

    <hr>
    <a href="{{ url_for('managecase.addcase') }}">Create a new case</a>
    <hr>

    {% for case in group.cases %}
        <!-- <b>Case Name:{{ case.casename }}</b>
        {{ case.doctors.first().doctorname }}
        {% for condition in case.conditions %}
            {{ condition.conditiontext }}
        {% endfor %}
        <a href="#">  Edit this case  </a>
        <a href="#">  End this case  </a> -->

        <p><b>Case Name: {{ case.casename }}</b></p>
        <p>Doctor Name: {{ case.doctors.first().doctorname }}</p>
        <p>Chronic Condition Tags:
            {% for condition in case.conditions %}
                {{ condition.conditiontext }}
            {% endfor %}
        </p>
        <p><a href="#">  Explore details  </a></p>
        <p><a href="#">  End this case  </a></p>
        <hr>
    {% endfor %}
        
{% endif %}

{% endblock %}