{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{%block content %}
    <h1>Welcome to {{ session['eldername']|title }}'s Care Group</h1>

    <!-- switchGroupForm  -->
  <form method="post">
    {{ switchGroupForm.hidden_tag() }}
    {{ switchGroupForm.group.label }}
    {{ switchGroupForm.group}}
    {{ switchGroupForm.submit() }}
  </form>
  <hr>

  <!-- group member info -->
  <p>Group members:</p>
  {% for user in group.users | sort(attribute='username')%}
    <p><img src="{{ user.avatar(32) }}"> {{user.username|title}}</p>
  {% endfor %}
  <hr>


  <!-- add appointment / appointment info-->
  <a href="{{ url_for('main.add_visit', groupname=session['groupname']) }}">Add new appointment</a><br>
  <p>Current Appointments:</p>
  {% for visit in group.visits | sort(attribute='date') %}
  <td><a href="{{ url_for('main.show_visit', visitid=visit.visitid) }}">{{visit.date}}
        {{visit.time}}| Dr. {{visit.case.doctors.first().doctorname|title}}|
        Under CASE: {{visit.case.casename}}</a></td>
  <td>
      <form action="{{ url_for('main.delete_visit', visitid=visit.visitid) }}" method="post">
          <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="Delete" >
      </form>
  </td>
  {% endfor %}

  <hr>

  
  
  <!-- ------------------------------------------------------------------------------------- -->
  <!-- addNoteForm -->
  <!-- 你看看能不能对wtf quick_form 的模板直接进行修改，不行的话用更下面的那一段   -->
  <div class="row">
    <div class="col-md-4">
      {{ wtf.quick_form(addNoteForm) }}
    </div>
  </div>
  <hr>
 
  <!-- <form action="" method="post">
    {{ addNoteForm.hidden_tag() }}
    {{ addNoteForm.notetype.label}}
    {{ addNoteForm.notetype }}
    {% for error in addNoteForm.notetype.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    <p>{{ addNoteForm.notetext }}</p>
    {% for error in addNoteForm.notetext.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    {{ addNoteForm.submit() }}
  </form>
  <hr> -->
<!-- ------------------------------------------------------------------------------ -->


<!-- show filtered notes -->
  {% if notes is not none %}
    {% for note in notes %}
      {% include 'includes/_note.html' %}
    {% endfor %}
  {% else %}
    <p>No notes here!</p>
  {% endif %}
  <hr>

  {% endblock %}