{% extends "layout.html" %}

{% block content %}

<h1>Appointment Info</h1>

<p>Date: {{ visit.date }}; Time: {{ visit.time }}</p>
<p>Memo: {{ visit.visittext }}</p>
<hr>

<p>Doctor name: {{ doctor.doctorname|title }}</p>
<p>Speciality: {{ doctor.specialty }}</p>
<p>Phone: {{ doctor.phone }}</p>
<p>Officename: {{ doctor.officename }}</p>
<p>Addr1: {{ doctor.address1 }}</p>
<p>Addr2: {{ doctor.address2 }}</p>
<hr>

<p>This appointment will be recorded in the case: <b>{{ case.casename }}</b></p>

<a href="{{ url_for('main.edit_visit', visitid=visit.visitid) }}">Edit</a>
<form action="{{ url_for('main.delete_visit', visitid=visit.visitid) }}" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
</form>


<a href="{{ url_for('main.group', groupname=session['groupname']) }}">Back</a>


{% endblock %}