<div>
    HealthWeb |

    <!-- is_anonymous = True only when the user is not logged in -->
    {% if current_user.is_anonymous %}
    Please login below
    {% else %}
    <!-- //everytime back to 'group' page, will show the default group info, not good -->
    <a href="{{ url_for('main.group', groupname=session['groupname']) }}"> CareGroup </a>
    <a href="{{ url_for('managecase.managecase') }}"> CaseManagement </a>
    <a href="{{ url_for('managegroup.managegroup') }}"> GroupManagement </a>
    <a href="{{ url_for('auth.logout') }}"> Logout </a>

    <p>Current user: {{current_user.username|title}} <img src="{{ current_user.avatar(20)}}" /></p>
    

    
    {% endif %}
</div>
<!-- a horizontal break line -->
<hr>